.fruts{
    color: red;

}
.Vegetables{
    color: rgb(221, 47, 233);
}
#one{
    color: blueviolet;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}